Result Skip Results Iframe
EDIT ON
body {
  padding: 0;
}

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.distorted-circle {
  width: 100px;
  height: 100px;
  border-radius: 50% 70% 50% 80%; /* 左上、右上、右下、左下 */
  background: #FF5252;
}
p{
    text-align:center;
  }
  .cp_h1title {
	position: relative;
	padding: .3em;
	text-align: center;
}
.cp_h1title:before,.cp_h1title:after { 
	position: absolute;
	top: 0;
	content:'';
	width: 8px;
	height: 100%;
	display: inline-block;
	border-top: solid 2px #FF7043;
	border-bottom: solid 2px #FF7043;
}
.cp_h1title:before {
	border-left: solid 2px #FF7043;
	left: 10;
}
.cp_h1title:after {
	border-right: solid 2px #FF7043;
	right: 10;
}
html,body{
    height: 100%;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.circle{
    background-color: #7fcce3;
    border-radius: 90%;
    padding-top: 30%;
    width: 30%;
  
    animation-name: puyopuyo;
    animation-duration: 20.0s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes puyopuyo{  
    0%{
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14%{
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28%{
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42%{
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56%{
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70%{
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84%{
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    100%{
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
}