Result Skip Results Iframe
EDIT ON
body {
  padding: 0;
}

.container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.distorted-circle {
  width: 100px;
  height: 100px;
  border-radius: 50% 70% 50% 80%; /* 左上、右上、右下、左下 */
  background: #52b4ff;
}



html,body{
    height: 100%;
}

.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.circle{
    background-image:url("images/IMG_2022.JPG");
    background-repeat: no-repeat;
    background-size: 140%;
    background-position: 50% 30%;
    border-radius: 90%;
    padding-top: 30%;
    width: 30%;
  
    animation-name: puyopuyo;
    animation-duration: 20.0s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes puyopuyo{  
    0%{
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
    14%{
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
    }
    28%{
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
    }
    42%{
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
    }
    56%{
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
    }
    70%{
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
    }
    84%{
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
    }
    100%{
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    }
}
.box18{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #ffcb8a;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #ffcb8a;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0; 
    padding: 0;
}
/*=============
.bg_pattern
==============*/

.bg_pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    z-index: -1;
  }
  .Paper_v2 {
    background-image:
      repeating-linear-gradient(to bottom,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
  
      repeating-linear-gradient(to right,
        transparent 25px,
        rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
        transparent 27px,  transparent 51px, 
        rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
        transparent 53px,  transparent 77px, 
        rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
        transparent 79px,  transparent 103px, 
        rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
        transparent 105px,  transparent 129px, 
        rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  }
  
  /*=============
  base
  ==============*/
  
  html, body {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: .025em;
    line-height: 1.8;
  }
  * {
    box-sizing: border-box;
  }
  .section {
    max-width: 1024x;
    margin: 0 auto;
    padding: 100px 20px 1000px;
  }
  ._a {
    max-width: 300px;
    margin: 0 auto;  
  }
  ._a a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.0em 1.0em;
    border: 1px solid #222222;
    background: linear-gradient(to right, #ffffff 50%, #222222 50%);
    background-size: 200% auto;
    color: #222222;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    position: relative;
  }
  ._a a:after {
    content: "";
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 100%;
    height: 100%;
    border-right: 1px solid #222222;
    border-bottom: 1px solid #222222;
  }
  ._a a:hover {
    color: #ffffff;
    background-position: -100% 0;
  }