@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #000000;
	word-wrap:break-word;
}

p
{
	margin: 0 0 10px;
}

ul
{
	list-style: none;
}

.container {
	width: 100%;
	margin: auto;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	padding: 0 0 200px;
}

/*.take-input {
  margin: 50px 0 0;
}

.take-input input {
  width: 400px;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ececec;
  margin: 0 15px 0 0;
  font-size: 15px;
}*/

a, a:link, a:visited {
  text-decoration: none;
  padding: 9px 15px;
  border: 1px solid #ffffff00;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.animate {
	font-size: 50px;
	margin: 100px 0 0;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.animate span {
	display: inline-block;
}

a.repeat {
  display: inline-block;
  font-size: 12px;
  text-transform: none;
  text-decoration: none;
  color: orange;
  padding: 5px 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
  margin: 0 0 0 50px;
  border-radius: 3px;
  position: relative;
  bottom: 15px;
}

a.repeat:hover {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.animate span:nth-of-type(2) {
	animation-delay: .05s;
}
.animate span:nth-of-type(3) {
	animation-delay: .1s;
}
.animate span:nth-of-type(4) {
	animation-delay: .15s;
}
.animate span:nth-of-type(5) {
	animation-delay: .2s;
}
.animate span:nth-of-type(6) {
	animation-delay: .25s;
}
.animate span:nth-of-type(7) {
	animation-delay: .3s;
}
.animate span:nth-of-type(8) {
	animation-delay: .35s;
}
.animate span:nth-of-type(9) {
	animation-delay: .4s;
}
.animate span:nth-of-type(10) {
	animation-delay: .45s;
}
.animate span:nth-of-type(11) {
	animation-delay: .5s;
}
.animate span:nth-of-type(12) {
	animation-delay: .55s;
}
.animate span:nth-of-type(13) {
	animation-delay: .6s;
}
.animate span:nth-of-type(14) {
	animation-delay: .65s;
}
.animate span:nth-of-type(15) {
	animation-delay: .7s;
}
.animate span:nth-of-type(16) {
	animation-delay: .75s;
}
.animate span:nth-of-type(17) {
	animation-delay: .8s;
}
.animate span:nth-of-type(18) {
	animation-delay: .85s;
}
.animate span:nth-of-type(19) {
	animation-delay: .9s;
}
.animate span:nth-of-type(20) {
	animation-delay: .95s;
}


/* Animation One */

.one span {
	color: #000000;
	opacity: 0;
	transform: translate(-150px, -50px) rotate(-180deg) scale(3);
	animation: revolveScale .4s forwards;
}

@keyframes revolveScale {
	60% {
		transform: translate(20px, 20px) rotate(30deg) scale(.3);
	}

	100% {
		transform: translate(0) rotate(0) scale(1);
		opacity: 1;
	}
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0 12px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #ffffff;
  
    background-repeat: no-repeat;
    --body-color: #f9ebc4;
}
.img-object-fit-radius{
    padding:0 !important;
  }
  .img-object-fit-radius img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius:50%;
  }
 
  .under {
    background: linear-gradient(transparent 50%, #a8eaff 50%);
  }
 
  h2{
    font-size:30%;
    color: #000000;
    text-align: left;
  }


  
  .fadeIn {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeInAnime{
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
    .box26 {
        position: relative;
        margin: 2em 0;
        padding: 0.5em 1em;
        border: solid 3px #95ccff;
        border-radius: 8px;width: 150px;
        display: inline-block;      /* インラインブロック要素にする */
        background-color:  rgb(255, 255, 255);    /* 背景色指定 */
        padding:  20px;             /* 余白指定 */
        height: 100px;              /* 高さ指定 */
    }
    .box26 .box-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 14px;
        background: #FFF;
        color: #95ccff;
        font-weight: bold;
        
    }
    .box26 p {
        margin: 0; 
        padding: 0;
    }
    .inline-block_test {
        display: inline-block;      /* インラインブロック要素にする */
        background-color:  #ccc;    /* 背景色指定 */
        padding:  20px;             /* 余白指定 */
        height: 100px;              /* 高さ指定 */
    }
    .box2 {
      padding: 0.5em 1em;
      margin: 2em 0;
      font-weight: bold;
      color: #6091d3;/*文字色*/
      background: #FFF;
      border: solid 3px #bdd9ff;/*線*/
      border-radius: 10px;/*角の丸み*/
  }
  .box2 p {
      margin: 0; 
      padding: 0;
  }